<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f9f9f9;
      color: #333;
      padding: 20px;
    }
    .button {
      display: inline-block;
      background-color: #FF5B61;
      color: #fff !important;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 6px;
    }
  </style>
</head>
<body>
  <img src="<%= logoUrl %>" alt="<%= siteTitle %>" style="max-height: 60px;" />
  <hr/>
  <%- content %>
</body>
</html>
